<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <mat-form-field style="width: 350px" appearance="outline">
                    <mat-label>ID:</mat-label>
                    <p>{{student.id}}</p>
                    <br>
                    <mat-label>Name Student:</mat-label>
                    <p>{{student.name}}</p>
                    <br>
                    <mat-label>Date Of Birth:</mat-label>
                    <p>{{student.dateOfBirth}}</p>
                    <br>
                    <mat-label>Avatar:</mat-label>
                    <p>{{student.avatar}}</p>
                    <br>
                    <mat-label>Description:</mat-label>
                    <p>{{student.description}}</p>
                </mat-form-field>
            </mat-card>
        </div>
    </div>
</div>
